name: Python query tests

on:
  push:
    branches: [ main, feature/*, bugfix/* ]
  pull_request:
    branches: [ main, feature/*, bugfix/* ]

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: debug

jobs:
  build_and_test:
    runs-on:
      group: ubuntu_runners

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        python -m venv .venv
        source .venv/bin/activate
        pip install --upgrade pip
        pip install -r tests/requirements.txt
      working-directory: ./py_chrontext

    - name: Set up nightly rust
      run: |
        rustup toolchain install nightly-2023-08-01
        rustup default nightly-2023-08-01

    - name: Build install package
      run: |
        source .venv/bin/activate
        maturin develop
      working-directory: ./py_chrontext

    - name: pytest
      run: |
        source ../.venv/bin/activate
        pytest
      working-directory: ./py_chrontext/tests
